emp/
Obj/
UnityGenerated/
Library/
Temp/*
Assets/AssetStoreTools*
.idea/
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vscode
Assets/Plugins/Editor/JetBrains/
.WebGL/
build/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.ios
development.apk
Assets/StreamingAssets/bundles/
Assets/StreamingAssets/bundles.meta
AssetBundles/
*.stackdump

Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
.vs
